@import "src/styles";

.headerbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 5rem;
    height: auto;
    border-radius: 50%;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 2px;

    & > * {
      border-bottom: 2px solid $color-white;
      &:hover {
        border-bottom: 2px solid $color-indigo-tertiary;
      }
    }
  }

  &__user {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    &__name {
      font-size: 1.8rem;
      font-weight: 600;
      color: $color-indigo-secondary;
      margin: 0 .6rem 0 .2rem;
    }

    &__icon {
      font-size: 2rem;
      color: $color-indigo-secondary;
    }
  }

  .notification {
    padding: 0 3rem;
    font-size: 2.5rem;
    position: relative;

    &__number {
      position: absolute;
      top: 1.2rem;
      left: 4rem;
      padding: .4rem .6rem;
      font-size: 1.2rem;
      background-color: $color-red-primary;
      color: $color-white;
      border-radius: 3rem;
      line-height: 1.2rem;
    }
  }
}

::ng-deep {
  .ant-layout-header {
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    padding: 0 3rem;
  }

  .ant-btn-primary:focus {
    background-color: $color-indigo-secondary;
  }
}

button {
  border: none;
  border-radius: .6rem;
  background-color: $color-indigo-secondary;

  &:hover {
    background-color: $color-indigo-tertiary;
  }
}
